{% extends "auctions/layout.html" %}

{% block body %}
    {% if in_watchlist and cur.is_open == True %}
        <a href="{% url 'remWatchlist' cur.id %}">Remove from watchlist</a>
    {% elif cur.is_open == True %}
        <a href="{% url 'addWatchlist' cur.id %}">Add to watchlist</a>
    {% else %}
        {% if cur.bids_id.bidder_id.username == user.username %}
            You won!!
        {% else %}
            {{ cur.bids_id.bidder_id.username }} won!
        {% endif %}
    {% endif %}
    
    
    
    
    {% if cur_user == user.username %}
        <a href="{% url 'closeListing' cur.id %}"><p>close</p></a>
    {% endif %}

    {{ cur.title }}

    <form action="{% url 'addBid' cur.id %}" method="post">
        {% csrf_token %}
        <input name="bid" type="number">
        <input type="submit" value="Bid!">
    </form>

    <form action="{% url 'clisting' cur.title %}" method="post">
        {% csrf_token %}
        <textarea name="comment" ></textarea>
        <input type="submit" value="comment">
    </form>

    {% for comments in cur_comments %}
        {{ comments.comment }}
    {% endfor %}
{% endblock %}