{% extends "auctions/layout.html" %}

{% block body %}

<h2 style="text-align: center;">List your own product!</h2>

<form action="{% url 'new' %}" method="post">
    {% csrf_token %}
    <input  type="text" name="title">
    <textarea name="description"></textarea>
    <input  type="text" name="img-url">
    <input  type="number" name="bid"> 
    <select name="category">
        <option value="Categorie1">Categorie1</option>
        <option value="Categorie2">Categorie2</option>
        <option value="Categorie3">Categorie3</option>
        <option value="Categorie4">Categorie4</option>
    </select>
    <button>Start the bids!</button>
</form> 


{% endblock %}

